<h1>Sign In Below: </h1>

<br><br>

<%= form_for(@user, url: sign_in_path) do |f| %>
    Email: <%= f.text_field :email %>
    <br><br>
    Password: <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Sign In!" %>
<% end %>
<br><br><br><br>
<h3>Don't have an account?</h3>
<%= link_to "Sign Up!", sign_up_path %> or
<%= link_to('Log in with Facebook!', '/auth/facebook') %>

