<h3 class="indent-header"><%= @station.station_number %></h3>
<div class="indent-elements">
    <ul>
        <li><%= @station.station_number %></li>
        <li><%= @station.baited %></li>
        <li><%= @station.activity %></li>
    </ul>
    <%= link_to "Return Home", root_path %>
</div>