<!DOCTYPE html>
<html>
  <head>
    <title>Sentricon App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <li><%= link_to "Homepage", root_path %></li>
        <li><%= link_to "Accounts", accounts_path %></li>
        
        <% if current_user %>
          <li><%= link_to "Sign Out", sign_out_path %></li>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </nav>
    </div>
    <h2><%= flash[:notice] if flash[:notice] %></h2>
    <div class="content">
        <%= yield %>
    </div>
  </body>
</html>